.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

.item
{
	width: 100px;
	height: 100px;
	margin: 2px;
}

.item img
{
	width: 100px;
	height: 100px;
}

.tile
{
	position: relative;
	top: -103px;
	width:100%;
	height:100%;
	padding:5px;
}

.color-name{
	font-size: 8pt;
    font-weight:bold;
    color:#fff;
    margin-top: 5px;
}

.profile-name{
    font-weight:bold;
    color:#fff;
}

#container{
	margin-left: auto;
	margin-right: auto;
}

.hidden
{
    display:none;
}

@media screen and (max-width:1200px)
{
	#container{
		width:1048px;
	}
}
@media screen and (max-width:1000px)
{
	#container{
		width:840px;
	}
}
@media screen and (max-width:800px)
{
	#container{
		width:628px;
	}
}
@media screen and (max-width:600px)
{
	#container{
		width:420px;
	}
}
@media screen and (max-width:400px)
{
	#container{
		width:212px;
	}
}

#login_panel
{
    color:#393939;
    font-weight:bold;
    width:300px;
    border:solid 1px #393939;
    padding:15px;
    text-align:center;
}


#loading
{
	position: absolute;
	top: 50%;
	left: 50%;
}